[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TimeDepFrail"]
	path = TimeDepFrail
	url = https://github.com/alessandragni/timedepfrail
